@charset "UTF-8";

#footer {
	margin: 0; padding: 0;
}
#footer hr {
    width: 100%; clear: both;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #5085a5;
}
#footer .copyright, #footer .admin {
    margin-top: 3px;
    line-height: 20px;
}
#footer .copyright {
    float: left;
    color: #5085a5;
}
#footer .admin {
    float: right;
    color: #31708e;
}